a:link{
    color:black;
}
a:visited{
    color:blue;
}
a:hover{
    color: green;
}
a:active{
    color:yellow;
}
.circle{
    margin-top:20px;
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:red;
}
.circle:hover{
    background-color:cyan;
}
.css{
    width:300px;
    background-color:pink;
}
.css:focus-within{
    background-color:olivedrab;
}